<aside class="widget widget_recent_entries_custom">
    <div class="widget-title">Popular Posts</div>
    <ul>
        <li class="clearfix">
            <div class="wi">
                <a href="#"><img src="images/works/img1.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="wb"><a href="#">Beautiful Day With Friends..</a> <span class="post-date">Jun 15, 2019</span></div>
        </li>
    </ul>
</aside>
