{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <section class="h-100vh pt-5">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">

                    <div class="row justify-content-center">
                        <!-- Content-->
                        <div class="col-8">

                            <!-- Post-->
                            <article class="post">
                                <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>Get In Touch</b></h5>

                                <p class="text-center">Duis mollis eget augue et lobortis. Nam nunc justo, aliquet sed
                                    condimentum vel, faucibus in dolor. Proin eleifend hendrerit rhoncus.</p>

                                <div class="alert alert-success">Thank you!</div>
                            </article>
                            <!-- Post end-->

                        </div>
                        <!-- Content end-->

                    </div>

                </div>
                <!-- end container -->
            </div>
        </div>
    </section>
{% endblock %}

